.box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 2px 100px;
    margin-bottom: 13px;
}

.details {
    text-align: center;

}

h2 {
    text-decoration-line: underline;
}